<footer>
    <!-- CONTANINER LOGO FOOTER -->
    <div class="footer-logo">
        <div class="footer-logo-img">
            <img src="/images/LOGO.jpg" alt="logo-img">
        </div>
        <div class="footer-logo-social">
            <i class="fa-brands fa-square-facebook fa-l"></i>
            <i class="fa-brands fa-square-instagram fa-l"></i>
            <i class="fa-brands fa-square-youtube fa-l"></i>
            <i class="fa-brands fa-square-twitter fa-l"></i>
            <i class="fa-brands fa-linkedin-in fa-l"></i>
        </div>
    </div>

    <div class="footer-client-contact">
        <div class="footer-client-p">
            <p>Atención al cliente</p>
            <p class="client-p-bold">0800 122 SMART</p>
            <p class="client-p-bold">0810 999 SMART</p>
            <p>Lu-Vie 9:00 - 18:00</p>
            <p>Sáb 9:00 - 13:00</p>
            <p class="client-p-bold">cobranzas@smart.com.ar</p>
        </div>
    </div>

    <!-- <div class="footer-client-email">
        <div class="footer-client-p">
            <p>Contactanos via e-mail</p>
            <p class="client-p-bold">cobranzas@smart.com.ar</p>
        </div>
    </div> -->

    <div class="footer-client-corporate">
        <div class="footer-client-p">
            <p>Servicios a empresas</p>
            <p class="client-p-bold">Ventas corporativas</p>
        </div>
    </div>

    <div class="footer-client-info">
        <div class="footer-client-p">
            <p class="client-p-bold">NOSOTROS</p>
        </div>
    </div>

</footer>