<header>
  <div>
    <a href="../">
      <img class="logo-smart-inc" src="/images/LOGO.jpg" alt="Logo Smart Inc">
    </a>
    <nav>
      <ul class="navegation-bar" type="none">
        <% if (locals.user.avatar) { %>
        <li><a href="../login"><img class="logo-smart-inc" src=<%= locals.user.avatar %> alt="Logo Smart Inc"><%= locals.user.fullName %></a></li>
        <% }else{ %>
        <li><a href="../login"><i class="fa-solid fa-user"></i><%= locals.user.fullName %></a></li>
        <% } %>

        <li><a href='../shoppingCar'><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Buscar productos">
    <div class="search-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="ubication">
    <i class="fa-solid fa-location-dot"></i>
    <p><%= locals.user.direction %></p>
  </div>
</header>