<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Inc-Index</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
    
    <!--HOJAS DE ESTILO-->
    <link rel="stylesheet" href="/css/style-index.css">

    <!-- <link rel="stylesheet" href="/css/shoppingCar.css" /> -->

    <!--ICONOS FONT-AWESOME-->
    <script src="https://kit.fontawesome.com/a1420988fe.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/css/all.css"> -->
</head>