<!-- HEADER INICIAL HECHO POR DFCH9503 , SE CAMBIÓ POR EL DE PETRA -->

<!-- <header>
        <div class="container-header-form">
            <div class="logo-header">
                <img src="/images/LOGO.jpg" alt="logo-img">
            </div>
            <form class="form-header">
                <input type="text" placeholder="Buscar" class="input-header">
                <button type="button"><i class="fa-sharp fa-solid fa-magnifying-glass fa-l"></i></button>
            </form>
            <div class="account-header">
                <i class="fa-regular fa-id-card fa-l"></i>
                <a href="/login">Mi Cuenta</a>
            </div>
            <div class="productCart-header">
                <i class="fa-solid fa-cart-shopping fa-l"></i>
                <a href="/productCart">Mi Carrito</a>
            </div>
        </div>

    </header> -->


<header>
    <div>
        <img class="logo-smart-inc" src="/images/LOGO.jpg" alt="Logo Smart Inc">
        <nav>
            <ul class="navegation-bar" type="none">
                <li><a href="#"><i class="fa-solid fa-user"></i>Mi Cuenta</a></li>
                <li><a href='../shoppingCar'><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar productos">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="ubication">
        <i class="fa-solid fa-location-dot"></i><p>[ Dirección ]</p>
    </div>
</header>