<header>
  <div>
    <img class="logo-smart-inc" src="/images/LOGO.jpg" alt="Logo Smart Inc">
    <nav>
      <ul class="navegation-bar" type="none">
        <li><a href="../login"><i class="fa-solid fa-user"></i>Mi Cuenta</a></li>
        <li><a href='../shoppingCar'><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Buscar productos">
    <div class="search-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="ubication">
    <i class="fa-solid fa-location-dot"></i>
    <p>[ Dirección ]</p>
  </div>
</header>