<div class="productContainer">
  <div class="product">
    <img src="/images/product/SMART-TV-1.jpg" />
    <div class="name">Product Name</div>
    <div class="price">
      <i class="fa-sharp fa-solid fa-dollar-sign"></i>5000
    </div>
  </div>
  <div class="descriptionContainer">
    <ul class="list">
      <li>Color brillante y duradero con Quantum Dot</li>
      <li>Mil millones de tonos de color con Quantum Dot</li>
      <li>Mayor rango de contraste en escala cinematográfica</li>
    </ul>
  </div>
  <div class="buttonContainer">
    <button>Agregar al carrito</button>
  </div>
</div>
