<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Edición y creación del producto', css:["/css/editAddProduct.css"] })  %>

<body>
  <%- include('./partials/header')  %>
  <main>
    <% if(id){ %>
    <form action="/products/:id/?_method=PUT" method="POST">
      <% } else{ %>
      <form action="/products" method="POST">
        <% } %>
        <input class="inputText" placeholder="Nombre de producto" name="productName" type="text" id="productName">
        <input class="inputText" placeholder="Descripción" name="description" type="text" id="description">
        <input class="inputText" placeholder="Tamaño" name="size" type="text" id="size">
        <input class="inputText" placeholder="Precio" name="price" type="text" id="price">
        <label for="category">Seleccione una categoría</label>
        <select name="category" id="category">
          <option value="tv">Smart Tv</option>
          <option value="audio">Audio</option>
        </select>
        <div class="inputImage">
          <label for="productImage">Inserte una imagen de su producto</label>
          <input class="inputFile" type="file" name="productImage" accept=".jpg, .png" id="productImage">
        </div>
        <button type="submit">
          <% if(id){ %>
          Editar producto <%= id %>
          <% } else{ %>
          Agregar
          <% } %>
        </button>
        <% if(id){ %>
        <button type="submit">
          Eliminar
        </button>
        <% } %>
      </form>
  </main>
  <%- include('./partials/footer')  %>
  <script>
    let test = document.getElementsByClassName('inputText')
    console.log(test);
    test[0].addEventListener('mouseover', () => {
      test[2].style.background = 'yellow';
    })
  </script>
</body>

</html>