<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Inc-Index</title>
    
    <!--HOJA DE ESTILO-->

    <!--ICONOS FONT-AWESOME-->
    <script src="https://kit.fontawesome.com/a1420988fe.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/css/all.css"> -->
</head>
<body>
    <header>
        <div class="container-header-form">
            <i class="fa-regular fa-gears"></i>
            <form class="form-header">
                <input type="text" placeholder="Buscar" class="input-header">
                <button type="button"><i class="fa-sharp fa-solid fa-magnifying-glass fxl"></i></button>
            </form>
            <div class="account-header">
                <i class="fa-regular fa-id-card fa-bounce"></i>
            </div>
            <i class="fa-regular fa-cart-shopping"></i>
        </div>

    </header>

    <main>
        <div class="container-main-1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vitae iusto exercitationem alias illo cumque et numquam quas voluptatum ullam itaque, earum doloribus dolorem. Blanditiis dolorem soluta veniam accusamus debitis?</p>
            <i class="fa-regular fa-gears"></i>
        </div>
        <div class="container-main-logos">

            <div class="child-main-logos">
                <i class="fa-regular fa-truck-fast"></i>
                <p class="main-logos-p">Envío gratis en todos los productos</p>
            </div>

            <div class="child-main-logos">
                <i class="fa-solid fa-arrows-to-eye"></i>
                <p class="main-logos-p">Seguimiento en línea</p>
            </div>

            <div class="child-main-logos">
                <i class="fa-regular fa-credit-card"></i>
                <p class="main-logos-p">Hasta 12 cuotas sin interés en productos seleccionados</p>
            </div>

            <div class="child-main-logos">
                <i class="fa-regular fa-phone-volume"></i>
                <p class="main-logos-p">Venta telefónica</p>
                <p class="main-logos-phone">01-810-000-SMART</p>
            </div>
        </div>

        <div class="container-main-products">
            <div class="child-main-products">
                <i class="fa-regular fa-tv"></i>
                <p class="main-products-p">Producto 1</p>
            </div>

            <div class="child-main-products">
                <i class="fa-regular fa-tv"></i>
                <p class="main-products-p">Producto 2</p>
            </div>

            <div class="child-main-products">
                <i class="fa-regular fa-tv"></i>
                <p class="main-products-p">Producto 3</p>
            </div>

            <div class="child-main-products">
                <i class="fa-regular fa-tv"></i>
                <p class="main-products-p">Producto 4</p>
            </div>

        </div>

    </main>


    <footer>

    </footer>
</body>
</html>