<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Login', css:["/css/loginstyle.css"] })  %>

<body>
  <%- include('./partials/header')  %>
  <!--esto es el partial que remplaza a todo el header -->
  <main>
    <form class="form-login" action="/index.html" method="Get">
      <input class="input-user-login" type="text" name="Usuaria/o" placeholder="Ingresa Usuaria/o, Telefono o E-mail" required />
      <input class="input-pass-login" type="password" name="Password" placeholder="Ingresa Password" required>
      <button type="submit" class="login-boton" href='/index.html'action="/index.html" method="get">Enviar</button>
      <a class="olviste-contraseña" href="¿Olvidaste tu contraseña?">¿Olvidaste tu contraseña?</a>
      <button type="submit" class="boton-crea-cuenta" href="/grupo_1_smart_inc/views/userCreateForm.ejs" action="./userCreateForm" method=" Get">Crea tu Cuenta</button>
    </form>
  </main>




  <%- include('./partials/footer', {title: ''})  %>
  <!--esto es el partial que remplaza a todo el footer -->
</body>

</html>