<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo"></enlace>
    
    <title>Smart-inc-login'</title>
</head>
   <body>
    <i img scr="https://i.pinimg.com/736x/6b/42/83/6b4283fcc0377989f2e73e52e1d3ee26.jpg"></i>
    <form class =" form-login " action =" /index.html " method =" Get " ></form>
    <header>
      <div class="logo"><img src="" alt="Logo Smart-inc"></div>
         
    
          
    <!-- <div><input placeholder="Buscar productos, marcas" class="input-home"><i i class="fas fa-search"> </i></div>-->
 
            <i class="fas fa-user-astronaut"></i>
             
    </header>
    
     <main> 
      
     <div class="usuaria-login"><label for="Usuaria/o"></label></div>
       <input class="input-user-login" type="text" name="Usuaria/o" placeholder="Ingresa Usuaria/o, Telefono o E-mail"/>
            
     <div class="passwor-login"> <label for="Password"></label></div>
       <input class="input-pass-login" type="password" name="Password" placeholder="Ingresa Password" >
       
     <button  type="submit" class="login-boton">Enviar</button> 
     
     <button  type="submit" class="boton-olviste-contraseña" href="¿Olvidaste tu contraseña?"  >¿Olvidaste tu contraseña?</button>
     
     <button  type="submit" class="boton-crea-cuenta"  action="/" method=" Get" >Crea tu Cuenta</button>

    
    
       </main>
      <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dolores fugit recusandae ipsum odit rerum quis quo ipsa laudantium adipisci, reprehenderit at? A </footer>
    
</body>
</html>