<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo"></enlace>
    
    <title>Smart-inc-login'</title>
</head>
   <body>
    
   
    <form class =" form-login " action ="/index.html " method =" Get " ></form>
    <header>
      <i class="fas fa-user"></i>  
      <i class="fas fa-shopping-cart"></i>
      <div><img class="logo" src="/images/LOGO2.jpg" ></i></div>
      <P class="mi-cuenta">MiCuenta</P> 
      <i class="fas fa-map-marker-alt"></i> <h2 class="direccion">[Callefalsa123]</h2>  
      <div> <input placeholder="Buscar productos, marcas" class="input-home" > <i class="fas fa-search"></i> </div>
    
    </header>
    
     <main> 
      
     <div class="usuaria-login"><label for="Usuaria/o"></label></div>
       <input class="input-user-login" type="text" name="Usuaria/o" placeholder="Ingresa Usuaria/o, Telefono o E-mail"/>
            
     <div class="passwor-login"> <label for="Password"></label></div>
       <input class="input-pass-login" type="password" name="Password" placeholder="Ingresa Password" >
       
     <button  type="submit" class="login-boton" action="/index.html" method="get">Enviar</button> 
     
     <a class="olviste-contraseña" href="¿Olvidaste tu contraseña?"  >¿Olvidaste tu contraseña?</a>
     
     <button  type="submit" class="boton-crea-cuenta"  action="/" method=" Get" >Crea tu Cuenta</button>

    
    
       </main>
     

       <footer>
        <section>
            <div>
                <h3>Atención al cliente</h3>
                <p>LU-VI de 09:00hs a 18:00hs</p>
                <p>SA de 09:00hs a 13:00hs</p>
            </div>
            <div>
                <h3>Contactanos via e-mail</h3>
                <p>atencionalcliente@smartinc.com</p>
            </div>
            <div>
                <h3>Servicio a empresas:</h3>
                <p>Ventas corporativas</p>
            </div>
            <div>
                <h3>Nosotros</h3>
            </div>
            <div>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>      
        </section>
    </footer>
</body>

</html>