<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo"></enlace>
    
    <title>Smart-inc-login'</title>
</head>
   <body>
    
    
    <form class =" form-login " action ="/views/index.html " method =" Get " ></form>
    <header>
      <i class="fas fa-user"></i>
      <i class="fas fa-shopping-cart"></i>

    <!--  <div class="logo"><img src="" alt="Logo Smart-inc"></div> logo de la empresa-->
      <div> <input placeholder="Buscar productos, marcas" class="input-home"><i i class="fas fa-search"> </i>  </div>
             
    </header>
    
     <main> 
      
     <div class="usuaria-login"><label for="Usuaria/o"></label></div>
       <input class="input-user-login" type="text" name="Usuaria/o" placeholder="Ingresa Usuaria/o, Telefono o E-mail"/>
            
     <div class="passwor-login"> <label for="Password"></label></div>
       <input class="input-pass-login" type="password" name="Password" placeholder="Ingresa Password" >
       
     <button  type="submit" class="login-boton" action="/" method="get">Enviar</button> 
     
     <a class="olviste-contraseña" href="¿Olvidaste tu contraseña?"  >¿Olvidaste tu contraseña?</a>
     
     <button  type="submit" class="boton-crea-cuenta"  action="/" method=" Get" >Crea tu Cuenta</button>

    
    
       </main>
     
      <!--<P class="ingresa-con">Acceso rapido con </P>
       <div class="redes">

      
        <a href="#" class="s3d Google">
          Google
          <span class="icons Google"></span>
        </a>
        <a href="#" class="s3d E-mail">
          E-mail
          <span class="icons E-mail"></span>

        <a href="#" class="s3d facebook">
          Facebook
          <span class="icons facebook"></span>
        </a> </div> 
        
      
        
        
        
        
      </div>-->  
</body>

<footer> 
  <div><img class="logo" src="/images/LOGO2.jpg" ></i></div>
</footer>

</html>