<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Inc</title>
</head>
<body>
    <header>
        <div>
            <div class="contenedor-logo">
                <img class="logo-smart-inc" src="/img/logo-smart-inc.jpg" alt="Logo Smart Inc">
            </div>
            <nav>
                <ul class="navegation-bar" type="none">  
                    <li><a href="#"><i class="fa-solid fa-user"></i>Mi Cuenta</a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="ubication">
            <i class="fa-solid fa-location-dot"></i><p>[ Dirección ]</p>
        </div>
    </header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jqOx32Cv-XI" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    <main>
        <div class="titulo-tv" >
            <p>Smart TV 4K Samsung 50'</p>
            <p class="stock">[Stock 6u]</p>
        </div>
        <div class="foto-smart">
            <img src="/img/smart-TV-4K-UHD-Samsung50-UN50AU7000.jpg" alt="Smart TV 4K UHD Samsung 50' UN50AU7000">
        </div>
        <div class="contenedor-price-button">
            <p class="precio">$119.999 </p>
            <button type="button">ADD TO CARR</button>
        </div>
        <h3>Especificaciones técnicas</h3>
        <ul type="none">
            <li>- Imagen: 50 pulgadas</li>
            <li>- Resolución: 3840 x 2160</li>
            <li>- Conectividad: HDMI, USB</li>
            <li>- Caracteristicas Smart: Youtube, Netflix</li>
            <li>- Sonido: MP3, AVI</li>
        </ul>  
    </main>
    <footer>
        <div class="footer-logo">
            <div class="footer-logo-img">
                <img src="/img/logo-smart-inc.jpg" alt="logo-img">
            </div>
            <div class="footer-logo-social">
                <i class="fa-brands fa-square-facebook fa-l"></i>
                <i class="fa-brands fa-square-instagram fa-l"></i>
                <i class="fa-brands fa-square-youtube fa-l"></i>
                <i class="fa-brands fa-square-twitter fa-l"></i>
                <i class="fa-brands fa-linkedin-in fa-l"></i>
            </div>
        </div>
        <div class="footer-client-contact">
            <div class="footer-client-p">
                <p>Atención al cliente</p>
                <p class="client-p-bold">0800 122 SMART</p>
                <p class="client-p-bold">0810 999 SMART</p>
                <p>Lu-Vie 9:00 - 18:00</p>
                <p>Sáb 9:00 - 13:00</p>
                <p class="client-p-bold">cobranzas@smart.com.ar</p>
            </div>
        </div>
        <div class="footer-client-corporate">
            <div class="footer-client-p">
                <p>Servicios a empresas</p>
                <p class="client-p-bold">Ventas corporativas</p>
            </div>
        </div>
        <div class="footer-client-info">
            <div class="footer-client-p">
                <p class="client-p-bold">NOSOTROS</p>
            </div>
        </div>
    </footer>
</body>
</html>