<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/shoppingCar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <div>
        <img>
            <div>
                <i class="fa-sharp fa-solid fa-lock"></i>
                SITIO SEGURO
            </div>
        </div>
        <img>
    </header>
    <section class="sectionShoppingCar">
        <h3>Mi carrito</h3>
        <section class="products">
            <article class="product">
                <img alt="Image of product">
                <div class="description">

                </div>
                <div class="units">
                    <button class="circleButton">
                            -
                    </button>
                    <div class="unitNumber">
                        30
                    </div>
                    <button class="circleButton">
                        +
                </button> 
                </div>
                <div class="price">
                    <i class="fa-sharp fa-solid fa-dollar-sign"></i>
                    5000
                </div> 
            </article>
            <article class="product">
                <img alt="Image of product">
                <div class="description">
                </div>
                <div class="units">
                    <button class="circleButton">
                            -
                    </button>
                    <div class="unitNumber">
25
                    </div>
                    <button class="circleButton">
                        +
                </button>
                </div>
                <div class="price">
                    <i class="fa-sharp fa-solid fa-dollar-sign"></i>
                    5000
                </div>  
            </article>
            <article class="product">
                <img alt="Image of product">
                <div class="description">

                </div>
                <div class="units">
                    <button class="circleButton">
                            -
                    </button>
                    <div class="unitNumber">
25
                    </div>
                    <button class="circleButton">
                        +
                </button> 
                </div>
                <div class="price">
                    <i class="fa-sharp fa-solid fa-dollar-sign"></i>
                    5000
                </div> 
            </article>
        </section>
        <section>
            <article>
                <input placeholder="Código">
                <button>
                    APLICAR
                </button>
            </article>
            <article>
                <div class="totalContainer">
                    <div>

                    </div>
                    <div class="price">
                        <i></i>
                        5000
                    </div> 
                </div>
                <button>
                    FINALIZAR COMPRA
                </button>
                <button>
                    CONTINUAR COMPRANDO
                </button>
            </article>
        </section>
    </section>
    <footer>

    </footer>
</body>
</html>