<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Shopping Car', css:["/css/shoppingCar.css"] })  %>

<body>
  <%- include('./partials/header',{user: locals.user}) %>

  <!-- <header>
    <div class="topHeader">
      <img class="logo" src="/images/logo.jpg" alt="logo" />
      <div class="secureSite">
        <div>
          <i class="fa-sharp fa-solid fa-lock"></i>
          <div>SITIO SEGURO</div>
        </div>
      </div>
    </div>
    <img class="banner" src="/images/banner.jpg" alt="banner" />
  </header> -->
  <main>
    <div class="titleSectionShoppingCar">Mi carrito</div>
    <section class="products">
      <% for(let i = 0; i<productos.length; i++){ %>
      <%- include('./partials/product', {producto:productos[i]})  %>
      <% } %>
    </section>
    <section class="discountAndFinishBuy">
      <article class="discountContainer">
        <div>¿Tenés código de descuento?</div>
        <div>
          <input placeholder="Código" />
          <button>APLICAR</button>
        </div>
      </article>
      <article class="finishBuyContainer">
        <div class="totalContainer">
          <div class="totalText">Total</div>
          <div class="priceTotal">
            <i class="fa-sharp fa-solid fa-dollar-sign"></i>
            5000
          </div>
        </div>
        <button>FINALIZAR COMPRA</button>
        <button>CONTINUAR COMPRANDO</button>
      </article>
    </section>
  </main>
  <%- include('./partials/footer')  %>
</body>

</html>