<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/shoppingCar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;1,8..144,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="topHeader">
        <img class="logo" src="/images/logo.jpg" alt="logo" />
        <div class="secureSite">
          <div>
            <i class="fa-sharp fa-solid fa-lock"></i>
            <div>SITIO SEGURO</div>
          </div>
        </div>
      </div>
      <img class="banner" src="/images/banner.jpg" alt="banner" />
    </header>
    <main>
      <div class="titleSectionShoppingCar">Mi carrito</div>
      <section class="products">
        <article class="product">
          <img
            src="/images/images.jfif"
            class="productElement"
            alt="Image of product"
          />
          <div class="description productElement">es una descripción</div>
          <div class="units productElement">
            <button class="circleButton">-</button>
            <div class="unitNumber">300</div>
            <button class="circleButton">+</button>
          </div>
          <div class="price productElement">
            <i class="fa-sharp fa-solid fa-dollar-sign"></i>
            5000
          </div>
        </article>
        <article class="product">
          <img
            src="/images/descarga(1).jfif"
            class="productElement"
            alt="Image of product"
          />
          <div class="description productElement">Esta es una descripción</div>
          <div class="units productElement">
            <button class="circleButton">-</button>
            <div class="unitNumber">25</div>
            <button class="circleButton">+</button>
          </div>
          <div class="price productElement">
            <i class="fa-sharp fa-solid fa-dollar-sign"></i>
            5000
          </div>
        </article>
        <article class="product">
          <img
            src="/images/descarga.jfif"
            class="productElement"
            alt="Image of product"
          />
          <div class="description productElement">Esta es una descripción</div>
          <div class="units productElement">
            <button class="circleButton">-</button>
            <div class="unitNumber">25</div>
            <button class="circleButton">+</button>
          </div>
          <div class="price productElement">
            <i class="fa-sharp fa-solid fa-dollar-sign"></i>
            5000
          </div>
        </article>
      </section>
      <section class="discountAndFinishBuy">
        <article class="discountContainer">
          <div>¿Tenés código de descuento?</div>
          <div>
            <input placeholder="Código" />
            <button>APLICAR</button>
          </div>
        </article>
        <article class="finishBuyContainer">
          <div class="totalContainer">
            <div class="totalText">Total</div>
            <div class="priceTotal">
              <i class="fa-sharp fa-solid fa-dollar-sign"></i>
              5000
            </div>
          </div>
          <button>FINALIZAR COMPRA</button>
          <button>CONTINUAR COMPRANDO</button>
        </article>
      </section>
    </main>
    <footer>
      <!-- <div>Footer</div> -->
    </footer>
  </body>
</html>
