/* DEFINICIÓN DE COLORES */

:root{
    --color1: #01010d;
    --color2: #5c6a73;
    --color3: #9fa4a6;
    --color4: #383e40;
    --color5: #d9d8d7;
    --fondo-logo: #242323;
}

/* SELECTOR UNIVERSAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: roboto,serif;
    height: 100vh; 
    width: 100%;
   /* border: 1px solid red */
}


/************MAIN*******************/

main{

    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw
}

.form-login{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    background-color: var(--color3);
    width: 80%;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 0px black;
}
.input-user-login,.input-pass-login{
    padding: 10px;
    border: 1px solid black;
    border-radius: 2vw;
    /* background-color: var(--color5); */
    cursor: pointer;
    bottom: -2%;
    width: 80%;
    left: 8%;
}
.input-pass-login{bottom: -4%;}

.login-boton{
    bottom: -9vw;
    padding: 10px;
    border-radius: 2vw;
    background-color:var(--color5);
    color: var(--fondo-logo);
    cursor: pointer;
    font-family: roboto,serif;
    width: 80%;
    left: 8%;
    border: 1px solid;
    transition: all 0.5s;
}

.login-boton:hover{
    background-color: #0022AA; /*--Boton-submit: #0022AA;*/
    color: var(--color5);
}
.boton-crea-cuenta{

    bottom: -18vw;
    padding: 10px;
    border-radius: 2vw;
    border: 1px solid;
    background-color: var(--color5);
    color: var(--fondo-logo);
    font-family: roboto,serif;
    width: 80%;
    left: 8%;
    cursor: pointer;
    transition: all 0.5s;
}
.boton-crea-cuenta:hover{
    background-color: #0022AA; /*--Boton-submit: #0022AA;*/
    color: var(--color5); }

.olviste-contraseña{
    /* bottom: -11vw;
    padding: 10px;
    border-radius: 2vw;
    background-color: transparent; */
    color:var(--fondo-logo);
    text-align: end;
    cursor: pointer;
    font-family: roboto,serif;
    transition: all 0.5s;
}
.olviste-contraseña:hover{
    color:#FA2B29; /*--Boton-submit: #0022AA;*/
}


.client-p-bold{
    font-weight: bold;
}

    @media (min-width: 460px){

    /**********MAIN****************/

    .olviste-contraseña, .boton-crea-cuenta, 
    .login-boton, .input-user-login,.input-pass-login, 
    .input-home {
        border-radius: 0.5vw;
    }

    .input-pass-login {
        bottom: -9%;
    }
    
    .fasfa-search {
        color: var(--fondo-logo);
        top: -8.5vw;
        position: relative;
        left: 7vw;
    } 
.form-login{

    box-shadow: 0px 0px 10px 0px black;
    width: 40%;
    
}

}    

