
body{
    font-family: roboto,serif;
   height: 100vh;
   border: 1px solid red
}


/**********HEADER*****************/
    header {
        background-color: #242323;
        height: 15%;
        width: 100%;
    }
    
    header div {
        display: flex;
    }
    
    header div img {
        width: 50%;
        margin: 2%;
    }
    
    header div nav {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    header div nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75%;
    }
    
    header div nav ul.navegation-bar li i {
        color: white;
        margin-right: 5px;
        font-size: 5vw;
    }
    
    header div nav ul.navegation-bar li a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 3vw;
    }
    
    header div.search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    header div input {
        position: relative;
        padding: 1.5%;
        width: 70%;
        border-radius: 10px;
        border: 1px solid silver;
        margin-bottom: 10px
    }
    
    header div.search-bar div.search-icon i {
        position: absolute;
        right: 15%;
        top: 15%;
    }
    
    header div.ubication {
        display: flex;
        align-items: center;
        margin-bottom: 3%
    }
    
    header div.ubication i {
        margin-left: 3%;
        color: #c92e2e;
        font-size: 5vw;
    }
    
    header div.ubication p {
        margin-left: 2vw;
        color: white;
    }

/************MAIN*******************/

main{
   
    display: flex;
    height: 70%;
    background-color: #9fa4a6;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
 }

 .form-login{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #9fa4a6;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
 }
 .input-user-login,.input-pass-login{
    padding: 10px;
    border: 2px solid #ffffff;

    border-radius: 2vw;
    background-color: #d9d8d7;
    cursor: pointer;
    bottom: -2%;
    width: 80%;
    left: 8%;
    font-size: 1.5vw;
}
.input-pass-login{bottom: -4%;}

.login-boton{
  
    bottom: -9vw;
    padding: 10px;
   
    border-radius: 2vw;
    background-color: #d9d8d7;
    color: #242323;
    cursor: pointer;
    font-family: roboto,serif;
    width: 84%;
    left: 8%;
    border: 1px solid;
    font-size: 1.5vw;
}

.boton-crea-cuenta{
  
    bottom: -18vw;
    padding: 10px;

    border-radius: 2vw;
    border: 1px solid;
    background-color: #d9d8d7;
    color: #242323;
    font-family: roboto,serif;
    width: 84%;
    left: 8%;
    cursor: pointer;
    font-size: 1.5vw;
}

.olviste-contraseña{
  
    bottom: -11vw;
    padding: 10px;

    border-radius: 2vw;
    background-color: transparent;
    color: #242323;
    text-align: end;
    font-size: 1.5vw;
    cursor: pointer;
    font-family: roboto,serif;
}

/**********FOOTERS****************/

footer{
    /* border: 3px solid darkgreen; */
    display: flex;
    justify-content: space-around;
    background-color: #242323;
    padding: 0.8rem 0rem;
    height: 15%;
    width: 100%;
}

.footer-logo{
    /* border: 3px dashed lightslategray; */
    width: 49.5%;
}


.footer-logo-img img{
    width: 100%;
}

.footer-logo-social{
    /* border: 3px dotted red; */
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.footer-logo-social i{
    padding: 0.2rem;
}

.footer-client-contact{
    /* border: 3px dashed darkorchid;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49.5%;
    font-size: 0.7rem;
}

.footer-client-corporate{
    /* border: 3px dashed darkorchid; */
    display: none;

}

.footer-client-info{
    /* border: 3px dashed darkorchid; */
    display: none;
}

.footer-client-p{
    /* border: 3px dotted darkorange; */
    color: #ffffff;
}

.client-p-bold{
    font-weight: bold;
}

    @media (min-width: 460px){


    /********HEADER***************/
        main div.titulo-tv p.stock {
            display: none;
        }
          header div.contenedor-logo {
            width: 70%;
        }
    
        header div img {
            width: 70%;
        }
    
        header div.ubication i {
            margin-bottom: 10px;
        }
    
        header div.search-bar div.search-icon i {
            right: 30%;
            top: 25%;
        }
    
        header div input {
            width: 40%;
        }
    
        header div nav ul {
            width: 100%;
            justify-content: space-around;
        }

    /**********MAIN****************/

    .olviste-contraseña, .boton-crea-cuenta, 
    .login-boton, .input-user-login,.input-pass-login, 
    .input-home {
        border-radius: 0.5vw;
    }
    main {
        top: 4vw;
        width: 50%;
        height: 66vh;
        left: 25%;   
        border-radius: 1vw;
    }
    .input-pass-login {
        bottom: -9%;
    }
    
    .fasfa-search {
        color: #242323;
        top: -8.5vw;
        position: relative;
        left: 7vw;
    }

    /**********FOOTERS***************/    
       
    .footer-logo{
        width: 24.5%;
        font-size: 0.7rem;
    }

    .footer-client-contact{
        width: 24.5%;
        font-size: 0.7rem;
    }

    .footer-client-corporate{
        display: flex;
        justify-content: center;
        width: 24.5%;
        font-size: 0.7rem;
    }

    .footer-client-info{
        display: flex;
        justify-content: center;
        width: 24.5%;
        font-size: 0.7rem;
    }
}    

